<QWidget>
    <component name="header" ref="header" title="Test Header"></component>

    <QLabel>Todo List ({{ computed.todo_count }} items)</QLabel>

    <QWidget>
        <QLineEdit id="new-todo"
               value="{{ state.new_todo }}"
               on_change="update_new_todo"
               placeholder="Add new todo"></QLineEdit>
        <QPushButton on_click="add_todo()">Add</QPushButton>
    </QWidget>

    <QWidget class="todo-items">
        {% if state.todos|length == 0 %}
            <QLabel>No todos yet! Add some above.</QLabel>
        {% else %}
            {% for todo in state.todos %}
                <QWidget class="horizontal todo-item">
                    <QCheckbox></QCheckbox>
                    <QLabel>{{ todo }}</QLabel>
                    <QPushButton on_click="remove_todo({{ loop.index - 1 }})">Remove</QPushButton>
                </QWidget>
            {% endfor %}
        {% endif %}
    </QWidget>
</QWidget>
