<QWidget>
    <QLabel>Todo List ({{ computed.todo_count }} items)</QLabel>

    <QWidget>
        <QLineEdit id="new-todo"
               value="{{ state.new_todo }}"
               on_change="update_new_todo"
               placeholder="Add new todo"></QLineEdit>
        <QPushButton on_click="add_todo()">Add</QPushButton>
    </QWidget>

    <QWidget class="todo-items">
        {% if state.todos|length == 0 %}
            <QLabel>No todos yet! Add some above.</QLabel>
        {% else %}
            {% for todo in state.todos %}
                <component
                    name="todo-item"
                    ref="todo-item"
                    text="{{ todo.text }}"
                    completed="{{ todo.completed }}"
                    id="{{ loop.index - 1 }}"
                    on_remove="remove"
                ></component>
            {% endfor %}
        {% endif %}
    </QWidget>
</QWidget>
